//MainFonts
@font-face {
    font-family: 'Chivo Bold';
    src: url('../fonts/ChivoBold/Chivo-Bold.eot');
    src: url('../fonts/ChivoBold/Chivo-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ChivoBold/Chivo-Bold.woff2') format('woff2'),
        url('../fonts/ChivoBold/Chivo-Bold.woff') format('woff'),
        url('../fonts/ChivoBold/Chivo-Bold.ttf') format('truetype'),
        url('../fonts/ChivoBold/Chivo-Bold.svg#Chivo-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Chivo Regular';
    src: url('../fonts//ChivoRegular/Chivo-Regular.eot');
    src: url('../fonts//ChivoRegular/Chivo-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts//ChivoRegular/Chivo-Regular.woff2') format('woff2'),
        url('../fonts//ChivoRegular/Chivo-Regular.woff') format('woff'),
        url('../fonts//ChivoRegular/Chivo-Regular.ttf') format('truetype'),
        url('../fonts//ChivoRegular/Chivo-Regular.svg#Chivo-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Asul Bold';
    src: url('../fonts/AsulBold/Asul-Bold.eot');
    src: url('../fonts/AsulBold/Asul-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AsulBold/Asul-Bold.woff2') format('woff2'),
        url('../fonts/AsulBold/Asul-Bold.woff') format('woff'),
        url('../fonts/AsulBold/Asul-Bold.ttf') format('truetype'),
        url('../fonts/AsulBold/Asul-Bold.svg#Asul-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


